.orange-link {color: #f18500;}
.blue-link {color: #00b9eb;}
.postbox .section {margin: 10px 0 0 0;}
.postbox .section label {font-size: 12px;font-size: 13px;font-weight: 600;display: block;margin: 0 0 5px 0;}
.postbox .section input {width: 100%;}
.postbox .inside input.full-width, .postbox .inside textarea.full-width, .postbox .inside select.full-width {width: 100%;}
#adminmenu #toplevel_page_elementor a[href="https://www.outtheboxthemes.com/go/elementor/"] {color: #d54e21;}
#otb-dashboard-news .inside {padding: 2px 0 0 0;}
#otb-dashboard-news .rss-widget {padding: 0 12px 15px 12px;}
.otb-notice {border-left-color: #000;border-left-color: #cd2728;display: grid;grid-template-columns: 150px auto;padding-top: 10px;padding-bottom: 12px;}
.otb-notice .container {display: inline-block;width: 100%;}
.otb-notice .holly {position: absolute;}
.otb-notice .logo-container {display: inline-block;width: 100px;float: left;}
.otb-notice .logo {margin: 0 .9em 0 0;grid-row: 1/4;align-self: center;justify-self: center;}
.otb-notice h3 {margin: 0;color: #cd2728;}
.otb-notice p {float: left;display: inline-block;}
.otb-notice a {color: #444;text-decoration: none;}
.otb-notice .button-primary {background: #1d1d1b;background: #cd2728;border-color: #1d1d1b;border-color: #cd2728;}
.otb-notice .button-primary:hover, .otb-notice .button-primary:focus {background: rgba(205,39,40,.8);border-color: rgba(205,39,40,.8);}
.otb-notice .button-dismiss {background-color: #fff;color: #1d1d1b;color: #cd2728;border-color: #1d1d1b;border-color: #cd2728;}
.otb-notice .button-dismiss:hover, .otb-notice .button-dismiss:focus {color: #1d1d1b !important;color: #cd2728 !important;border-color: rgba(29,29,27,.8) !important;border-color: #cd2728 !important;}
.otb-notice .dismiss {padding-left: .4em;}
.otb-button {display: inline-block;border-radius: 3px;border: 2px solid rgba(0,0,0,.4);border-color: rgba(0,0,0,.12);margin: 0;padding: 9px 10px 10px;min-width: 160px;text-align: center;font-size: 14px;color: #fff;text-decoration: none !important;-webkit-transition: background-color .2s ease 0s;-moz-transition: background-color .2s ease 0s;-ms-transition: background-color .2s ease 0s;-o-transition: background-color .2s ease 0s;transition: background-color .2s ease 0s;}
.otb-button.green {background-color: #67cea6;padding: 8px 10px;cursor: pointer;}
.otb-button.green:hover {background-color: #4c997b;}